.canvas { 
	display: block; 
	top: 0;
	left: 0;  
	position: fixed;
	z-index: -100;
}

canvas { 
  width: 1350px; 
  height: 1080px;
}

#glcanvas {
	width: 1350px;
}

#platform {
	background-color: #0000002f;
	width: 100vw;
	height: 100vh;
	margin: auto;
	top: -1em;
	bottom: 0;
}

div.title {
	margin: auto;
	background-color: #ffffff1a;
	border: solid 2px white;
}

div.entry_icon {
}

div.entry_text {
}

a.entry {
	margin-left: 3em;
}

div.entry {
	margin: auto;
	background-color: #ffffff1a;
	border: solid 2px white;
}

li.entry {
	margin: auto;
	background-color: #ffffff1a;
	border: solid 2px white;
	margin-bottom: 1em;
}

/*
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
*/
